/* div.font-weight-bold {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle } #86BC25 , #86BE3C ,62B5E5 */

    .center {
        display: flex;
        height: 35px;
        margin : 30px;
        justify-content: center;
      }

    .card{
        text-align: center;
        
    }

    .btn-primary{
      background-color:#86BC24;
    }