<app-navbar></app-navbar>

<div class="container">
    <!-- <div class="font-weight-bold" style="font-size: 2rem;">Welcome to Digital care!</div>#BBBCBC , A0DCFF -->
    <div class="center">
        <h1>Welcome to Digital Care Repository !</h1>
      </div>
    <div class="row">
        <div style="margin:20px;" *ngFor="let project of projects">
            <div class="card " style="width: 21rem; background-color:rgb(255,255,255)"> 
                <div class="card-body">
                    <h5 class="card-title">{{project}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">This is subtitle</h6>
                    <p class="card-text">some text should appear here</p>
                    
                    <a routerLink="/all-files" class="btn btn-primary">View data</a>
                </div>
            </div>
        </div>
    </div>
</div>