<app-navbar></app-navbar>

<!-- <div class="card " style="width: 50%; margin: 30px auto;">
  <div class="card-header">List of Files</div>
  <ul class="list-group list-group-flush" *ngFor="let file of files ">
    <li class="list-group-item">
      <a href="#">{{ file }}</a> -->
<!-- <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4z" /></svg>  -->
<!-- </li>
  </ul>
</div> -->


<div>
  <label>Select module</label>

  <ng-select [items]="module" bindLabel="name" bindValue="name" [multiple]="true" placeholder="Select module"
    [(ngModel)]="selectedModules">
  </ng-select>  
</div>


<div>
  <label>Select type of resource</label>
  <ng-select [items]="resource" bindLabel="name" bindValue="name" [multiple]="true" placeholder="Select resource"
    [(ngModel)]="selectedResources">
  </ng-select>  
</div>

<div>
  <label>Select tower</label>
  <ng-select [items]="tower" bindLabel="name" bindValue="name" [multiple]="true" placeholder="Select tower"
    [(ngModel)]="selectedTowers">
  </ng-select>  
</div>

<div>
  <label>Select practitioner</label>
  <ng-select [items]="practitioner" bindLabel="name" bindValue="name" [multiple]="true"
    placeholder="Select practitioner" [(ngModel)]="selectedPractitioners">
  </ng-select>
  
</div>

<div>
  <label>Select location</label>
  <ng-select [items]="location" bindLabel="name" bindValue="name" [multiple]="true"
    placeholder="Select loaction" [(ngModel)]="selectedLocations">
  </ng-select>  
</div>


<button class="btn btn-success cen mt-4" (click)="testmulti()">
  testmulti
</button>



<div style="margin-top:300px"></div>