/* @import "~@ng-select/ng-select/themes/default.theme.css"; */
body {
  padding: 20px;
}

.wrapper {
  text-align: center;
}

.button {
  position: absolute;
  top: 50%;
}

div.container{
  border-left-width: 10px;
  margin-top: 30px;  

}

