
<app-navbar></app-navbar>
<div>
  <div class="text-center mt-5">
    <label class="btn btn-default">
      <input type="file" (change)="onFileChange($event)" multiple="false" />
    </label>
    <button
      class="btn btn-success"
      [disabled]="!selectedFiles"
      (click)="upload()"
    >
      Upload-to-Server
    </button>
  </div>

  <div class="mt-5">
    <table class="table">
      <tbody>
        <tr *ngFor="let row of data; index as i">
          <ng-container *ngIf="i == 0">            
            <th *ngFor="let cell of row" scope="col">
              {{ cell }}
            </th>            
          </ng-container>
          
          <ng-container *ngIf="i != 0">
            <td *ngFor="let cell of row">
              {{ cell }}
            </td>
          </ng-container>
          
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center mt-2" *ngIf = "isUpload"> File data is successfully sync</div>
</div>
